/*Media*/
  @media (max-width: 767px) {
  .ph1 {
    flex-wrap: wrap;
  }
}

@media (max-width: 739px) {
  footer {
    flex-wrap: wrap;
  }

  header li a {
    display: none;
    margin: 8px;
  }
}

.contacto1 {
  flex-direction: column;
  border: none;
}

.form {
  width: 90vw;
}

.input {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .ayuda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 2000px) and (min-width: 1025px) {
  .contenedorIndumentaria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
}

@media (max-width: 1024px) and (min-width: 680px) {
  .contenedorIndumentaria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
  @media (max-width: 679px) and (min-width: 400px) {
    .contenedorIndumentaria {
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
}
  header {
    flex-direction: column;
  }
}